@keyframes bigsmall {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 555px;
    height: 485px;
  }
}
@keyframes rotateIn {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(deg);
  }
}
@keyframes rotate {
  from {
    width: 0;
    height: 0;
    transform: rotate(0);
    opacity: 1;
  }
  to {
    width: 360px;
    height: 285px;
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
